// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '../node_modules/bootstrap/scss/variables';
// @import '../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
// @import '../node_modules/bootstrap/scss/root';

.footer {
  padding: 100px 0 100px 0;
  background-color: #343f51;

  h5 {
    color: $gray-500;
  }

  @include media-breakpoint-down(lg) {
    padding: 50px 0 50px 0;
  }

  .footer--row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;

    @include media-breakpoint-down(xl) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: auto;
    }

    .c {
    }
  }
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    a {
      color: $gray-300;
      transition: color 0.2s linear;

      font-size: 1rem;

      text-decoration: none;

      &:hover {
        color: #2295f7;
      }
    }
  }
}

.footer-logo {
  font-size: 18px;
  color: #ffffff;
}

.footer-about {
  width: 200px;

  margin: 0;
  padding: 15px 0 0 0;
  list-style-type: none;

  font-size: 14px;
  color: $gray-500;

  > .crm {
  }

  > .copyright {
  }

  li {
    margin: 5px 0 5px 0;

    &:first-child {
      margin: 0 0 5px 0;
    }

    &:last-child {
      margin: 5px 0 0 0;
    }

    &:only-child {
      margin: 0 0 0 0;
    }
  }
}
