@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';

.opportunities {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #343f51;

  h2 {
    color: #ffffff;
  }

  h3 {
    padding-bottom: 5px;
    color: #31c2c7;
  }

  h4 {
    color: #ffffff;
  }

  .info {
    > .c1 {
      @include make-col(6);
      @include media-breakpoint-down(xl) {
        @include make-col(12);
      }
    }

    > .c2 {
      @include make-col(6);
      @include media-breakpoint-down(xl) {
        padding-top: 25px;
        @include make-col(12);
      }
    }
  }

  .demo {
    padding-top: 50px;

    > .c1 {
      @include make-col(5);
      @include media-breakpoint-down(xl) {
        @include make-col(12);
      }
    }

    > .c2 {
      @include make-col(6);
      @include media-breakpoint-down(xl) {
        @include make-col(12);
      }
    }
  }
}

.demo-links {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 25px;
}

.demo-credentials {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    color: #ffffff;
  }
}

.demo-about {
  padding-top: 15px;
  color: #ffffff;
}

.opportunities-functions {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    color: #ffffff;

    margin: 5px 0 5px 0;

    &:first-child {
      margin: 0 0 5px 0;
    }

    &:last-child {
      margin: 5px 0 0 0;
    }

    &:only-child {
      margin: 0 0 0 0;
    }
  }
}

.opportunities-integrations {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    color: #ffffff;

    margin: 5px 0 5px 0;

    &:first-child {
      margin: 0 0 5px 0;
    }

    &:last-child {
      margin: 5px 0 0 0;
    }

    &:only-child {
      margin: 0 0 0 0;
    }
  }
}
