// homepage
@use './hero/hero';
@use './about/about';
@use './opportunities/opportunities';
@use './advantages/advantages';
@use './main-banner/main-banner';

// contacts
@use './contacts/contacts';

.content {
}

.page-block {
    margin: 50px 0;
    scroll-margin-top: 70px;
}

.article {
    display: grid;
    padding: 50px 0 50px 0;

    word-wrap: anywhere;
}

.article {
    h1 {
        text-align: center;
        padding-bottom: 25px;
        scroll-margin-top: 80px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        scroll-margin-top: 80px;
    }

    p {
        margin: 0 0 1rem 0;
    }

    ul {
        margin: 0 0 1rem 0;
        padding: 0;
        list-style-type: none;

        li {
        }
    }

    figure {
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}

.article {
    .page-nav {
        li {
        }

        .title {
            margin: 10px 0;
        }
    }

    .page-subnav {
        margin: 0;
        padding: 0 0 0 15px;
    }
}

.article {
    a {
        code {
            color: inherit;
        }
    }

    code {
        color: #bb0000;
    }

    pre {
        border-radius: 5px;
        padding: 10px 25px;
        background-color: #cfcfcf;

        code {
            color: #212529;
        }
    }
}

.article {
    .page-table {
        overflow: scroll;
        word-wrap: break-word;
        margin-bottom: 1rem;
    }
}

.updates {
    > .update {
        margin: 25px 0;
        padding: 0 0 25px 0;

        border-bottom: 2px solid #212529;

        &:last-child {
            border: none;
            padding: 0 0 0 0;
        }
    }
}

.update {
    .update-content {
        ul {
            margin: 0;
            padding: 0;
        }
    }

    .to-update {
        padding: 15px 0 0 0;

        ul {
            margin: 0;
            padding: 0;

            font-size: 1rem;
            font-weight: bold;
        }
    }
}
