@use './hero/hero';
@use './about/about';
@use './opportunities/opportunities';
@use './advantages/advantages';
@use './main-banner/main-banner';

.content {
}

.article {
  display: grid;
  padding: 50px 0 50px 0;

  p {
    margin: 0 0 1rem 0;
  }

  h1 {
    text-align: center;
    padding-bottom: 25px;
  }

  ul {
    margin: 0 0 1rem 0;
    padding: 0;
    list-style-type: none;

    li {
    }
  }
}
