@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';

.accordion-faq {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .accordion-body {
    padding: 15px 25px;

    @include media-breakpoint-down(md) {
      padding: 5px 15px;
    }
  }

  .accordion-header {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;

    @include media-breakpoint-down(md) {
      font-size: 1.1rem;
    }
  }

  .accordion-button {
    width: 100%;

    border: none;
    border-radius: 5px;

    padding: 20px 25px;

    @include media-breakpoint-down(md) {
      padding: 10px 15px;
    }

    text-align: left;
    background-color: #343f51;
    color: #ffffff;
  }
}
