.contacts {
  dt {
    a {
      text-decoration: none;
    }

    .icon {
      margin-right: 10px;
    }
  }

  dd {
  }
}

.donate-cards {
  li {
  }
}

.contacts-form-info {
  dt {
    .icon {
      margin-right: 5px;
    }
  }

  dd {
    margin-top: 1rem;
  }
}

.contact-form--btn {
}
