// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

.header {
  z-index: 1000;
}

.lang {
  color: $green-100;
}

.main-menu {
  padding-right: 25px;

  @include media-breakpoint-down(lg) {
    padding-right: 0;
  }

  > .nav-item {
    font-size: 17px;

    > .nav-link {
      transition: color 0.2s linear;

      &:hover {
        color: #2295f7 !important;
      }
    }
  }

  .dropdown-menu {
    .dropdown-item {
      padding: 2px 10px;
      transition: color 0.2s linear;

      &:hover {
        color: #2295f7 !important;
      }
    }
  }
}
