<!-- footer -->
<footer class='footer'>
    <div class='container'>
        <div class='footer--row'>
            <div class='c'>
                <div class='footer-logo'>
                    <span class='t'>Zippy CRM</span>
                </div>

                <ul class='footer-about'>
                    <li class='crm'>CRM система для складського обліку та торгівлі</li>
                    <li class='copyright'>©2025</li>
                </ul>
            </div>

            <div class='c'>
                <h5>Інші продукти</h5>
                <ul class='footer-menu'>
                    <li><a href='#'>Бібліотека цифрового підпису</a></li>
                    <li><a href='#'>Фреймворк Zippy</a></li>
                    <li><a href='#'>Бібліотека ZDB</a></li>
                    <li><a href='#'>Менеджер нотаток Notty</a></li>
                </ul>
            </div>

            <div class='c'>
                <h5>База знань</h5>
                <ul class='footer-menu'>
                    <li><a href='#'>Встановлення та налаштування</a></li>
                    <li><a href='#'>Оновлення та зміни</a></li>
                    <li><a href='#'>Посібник користувача</a></li>
                    <li><a href='#'>Документація розробника</a></li>
                    <li><a href='#'>Модулі та розширення</a></li>
                </ul>
            </div>

            <div class='c'>
                <h5>Контакти</h5>
                <ul class='footer-menu'>
                    <li><a href='https://t.me/zstoregroup'><i
                                class='icon icon-telegram'
                            ></i>zstoregroup</a></li>
                    <li><a href='tg://resolve?domain=leonmbs'><i
                                class='icon icon-telegram'
                            ></i>@leonmbs</a></li>
                    <li><a href='skype:leon_mbs?call'><i
                                class='icon icon-skype'
                            ></i>leon_mbs</a></li>
                    <li><a href='#'><i class='icon icon-mail'></i>форма зв'язку</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->